.training-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    padding: 10px 5px;
    height: 75vh;
}

.training-list-item {

    margin: 5px;
    width: 80%;
    height: 19vh;
}
